* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
}

.login-container {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.login-box input {
    height: 55px;
    border: none;
    text-align: center;
    font-size: 16px;
    background-color: white;
}

.login-box button {
    margin-top: 25px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #536df5;
    color: white;
    font-size: 18px;
    cursor: pointer;
}



.groups-container {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.groups-column{
    width:400px;
}

.groups-title{
    background:#536df5;
    color:white;
    text-align:center;
    padding:15px;
    border-radius:8px 8px 0 0;
}

.group-row{
    background:white;
    text-align:center;
    padding:15px;
    margin-top:8px;
}

.group-layout{
    min-height: calc(100vh - 100px);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

/* login*/
.login-card{
    background:#d9d9d9;
    width:350px;
    padding:40px;
    border-radius:4px;
}

.btn-study{
    background:#536dfe;
    border:none;
    color:white;
}

.btn-study:hover{
    background:#4055d6;
}

/* my groups*/
.btn-study {
    background-color: #536dfe;
    color: white;
    border: none;
    font-weight: 600;
}

.btn-study:hover {
    background-color: #4055d6;
    color: white;
}

.card-header {
    background-color: #536dfe !important;
}


/*NAVBAR*/
.navbar {
    background-color: #0d6efd !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #dbeafe !important;
}

.navbar-toggler {
    border: 2px solid rgba(255,255,255,0.5);
}

/*navbar per admin*/
.nav-link.admin-link {
    color: #ffd700 !important;
    font-weight: bold;
}

.nav-link.admin-link:hover {
    color: #ffea70 !important;
}

/*per Sottolineare pagina in cui sei */
.nav-link.active-page {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.btn-active-page {
    background-color: white;
    color: #0d6efd !important;
    font-weight: bold;
}
/* admin home tabs */
.admin-tabs .nav-link {
    color: #0d6efd !important;
    background-color: #ffffff;
    border-color: #dbeafe #dbeafe #ffffff;
    font-weight: 600;
}

.admin-tabs .nav-link:hover {
    color: #084298 !important;
    background-color: #eff6ff;
}

.admin-tabs .nav-link.active {
    color: #0b5ed7 !important;
    background-color: #dbeafe;
    border-color: #bfdcff #bfdcff #dbeafe;
}
